@import "tailwindcss";
.text-stroke {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}
.bg-grid {
  background-color: "#ffffff";
  background-image:
    linear-gradient(to right, #737373 2px, transparent 2px),
    linear-gradient(to bottom, #737373 2px, transparent 2px);
  background-size: calc(100% / 17) calc(100% / 11);
}
